header {
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    padding: none;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-around;
}

.container {
    height: 100%;
    width: 100%;
    background-color: blue;
    color: white;
    display: flex;

}

.display {
    background-color: green;
    color: white;
}

#input {
    background-color: blueviolet;
}

#output {
    background-color: crimson;
}

